#app {
    text-align: center;
}

.dummy_trigger {
    width: 30px;
    height: 30px;
    background-color: red;
}

.dropdown .body {
    background-color: green;
    padding: 10px;
}

li {
    white-space: nowrap;
}
