#app {
    text-align: center;
}

.dummy_trigger {
    width: 20px;
    height: 20px;
    background-color: red;
}

.dropdown .body {
    background-color: green;
    padding: 10px;
}

li {
    white-space: nowrap;
}

div#scroll {
    margin: 0 auto;
    max-height: 200px;
    width: 200px;
    overflow: auto;
    position: relative;
}
